# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Documentation
*.md diff=markdown

# Archives
*.zip binary
*.tar binary
*.gz binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
